<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
   PUBLIC "-//mybatis.org//DTD config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url"
					value="jdbc:mariadb://192.168.0.246:3306/moongstar" />
				<property name="username" value="root" />
				<property name="password" value="7564" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/dog.xml" />
		<mapper resource="mapper/member.xml" />
		<mapper resource="mapper/walking.xml" />
		<mapper resource="mapper/walkComment.xml" />
		<mapper resource="mapper/walkingLike.xml" />
		<mapper resource="mapper/hospital.xml" />
		<mapper resource="mapper/hospitalComment.xml" />
		<mapper resource="mapper/board.xml" />
		<mapper resource="mapper/boardlike.xml" />
		<mapper resource="mapper/temp.xml" />
		<mapper resource="mapper/tempComment.xml" />
		<mapper resource="mapper/lost.xml" />
		<mapper resource="mapper/file.xml" />

	</mappers>
</configuration>
